@import "gallery";
@import "ui";

$s3: "http://s3.amazonaws.com/thepostmasterslodgings.co.nz";

@font-face {
  font-family: 'EdwardianScriptITCRegular';
  src: url('itcedscr-webfont.eot');
  src: local("☺"), url('itcedscr-webfont.woff') format("woff"), url('itcedscr-webfont.ttf') format("truetype"), url('itcedscr-webfont.svg#webfont5FK5mWTJ') format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: none repeat scroll 0 0 #EEEEEE;
  color: #777777;
  font: 12pt/20pt verdanda;
  margin: 0;
  padding: 0; }

a {
  color: #2277BB;
  text-decoration: none;
  &:hover {
    text-decoration: underline; } }
  
nav {
  a {
    color: #777777;
    &:hover {
      text-decoration: none; } } }

#container {
  background-color: #FFFFFF;
  margin: 0 auto;
  min-height: 850px;
  width: 900px;
  z-index: 1;
  padding: 20px 40px; }

header {
  display: block;
  height: 100px;
  h1 {
    color: #444444;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'EdwardianScriptITCRegular', sans-serif;
    float: left;
    margin: 0; }
  nav {
    float: right;
    ul {
      list-style: none;
      margin: 25px 0px;
      li {
        display: inline-block;
        padding: 0px 5px;
        a {
          border-bottom: 1px solid #CCCCCC;
          border-top: 1px solid #CCCCCC;
          float: left;
          font-weight: bold;
          line-height: 2em;
          text-align: center;
          text-decoration: none;
          width: 7em;
          &:hover, &:active {
            background-color: #00CC00;
            border-top: 1px solid #FFF;
            border-bottom: 1px solid #FFF;
            color: #FFF; } } } } } }

.box {
  float:left;
  display: block;
  width:200px;
  &.text {
    margin: 25px 45px 0px 45px; }
  &.pic { 
    margin: 45px 45px 0px 45px;
    background: url("#{$s3}/hover.jpg") repeat-x scroll 0 0 transparent;
    padding: 180px 0px 0px 0px;
    color: #666666;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      span {
        background-color:#FF6600;
        color:#FFFFFF; } }
    span {
      color: #777777;
      text-decoration:none;
      font: 20pt/20pt verdanda;
      height: 25px;
      padding: 10px;
      background-color:#FFFFFF;
      display:block;
      text-transform: uppercase; } } }

#luxpic {
  background-position: 0px 0px;
  &:hover {
    background-position: 0px -180px; } }

#botpic {
  background-position: -200px 0px;
  &:hover {
    background-position: -200px -180px; } }

#rawpic {
  background-position: -400px 0px;
  &:hover {
    background-position: -400px -180px; } }

.input {
  display: block;
  clear: both;
  margin: 10px;
  &.submit {
    button {
      padding: 8px 30px 8px 30px;
      border-top: 1px solid #777;
      border-right: none;
      border-bottom: 1px solid #777;
      border-left: none;
      cursor:pointer;
      color: #777;
      font: 12pt/20pt verdanda;
      background:#FFF;
      font-weight: bold;
      margin: 20px 0px 0px 0px;
      &:hover { 
        border-top: 1px solid #FFF;
        border-right: none;
        border-bottom: 1px solid #FFF;
        border-left: none;
        background: #0066B3;
        color: #FFF; } } }
  label {
    display: block;
    margin: 2px 4px 6px 4px; }
  textarea {
    height: 100px; }
  input, textarea {
    padding: 3px;
    width: 400px;
    border: 1px solid #AAA;
    &:hover {
    background: #FFB366; } } }

nav#more {
  float: left;
  ul {
    margin: 0px;
    padding: 0px 0px 0px 100px;
    list-style: none;
    li {
      display: inline-block;
      padding: 0px 5px;
      a {
        float: left;
        font-weight: bold;
        line-height: 2em;
        text-align: center;
        text-decoration: none;
        &:hover, &:active {
          color: #00CC00; } } } } }

.stamp {
  height: 285px;
  top: 300px;
  left: 730px;
  position: absolute;
  width: 300px;
  z-index: 4;
  background: url("#{$s3}/stamp.png") repeat-x scroll 0 0 transparent; }

form#new_booking {
  width: 440px;
  height: 466px;
  padding: 20px 20px 20px 20px;
  float: left;
  color:#777; }

#tariffs, #contact {
  color: #000000;
  font-size: 0.7em;
  line-height: 15px;
  z-index: 5; }

#tariffs {
  background: url("#{$s3}/frameport.png") no-repeat scroll 0 0 transparent;
  height: 175px;
  left: 770px;
  padding: 65px 50px 50px;
  position: absolute;
  top: 180px;
  width: 125px; }

#contact {
  background: url("#{$s3}/frameland.png") no-repeat scroll 0 0 transparent;
  color: #000000;
  height: 110px;
  left: 730px;
  padding: 50px 60px 55px 60px;
  position: absolute;
  top: 490px;
  width: 185px; }
