@import "gallery";
@import "ui";

$s3: "http://s3.amazonaws.com/thepostmasterslodgings.co.nz";

@font-face {
  font-family: 'EdwardianScriptITCRegular';
  src: url('itcedscr-webfont.eot');
  src: local("☺"), url('itcedscr-webfont.woff') format("woff"), url('itcedscr-webfont.ttf') format("truetype"), url('itcedscr-webfont.svg#webfont5FK5mWTJ') format("svg");
  font-weight: normal;
  font-style: normal; }

.js {
  h1 {
    display:none; } }

body {
  background: none repeat scroll 0 0 #EEEEEE;
  color: #777777;
  font-family: Verdanda, Arial, sans-serif;
  margin: 0;
  padding: 0; }

a {
  color: #2277BB;
  text-decoration: none;
  &:hover {
    text-decoration: underline; } }
  
nav {
  a {
    color: #777777;
    &:hover {
      text-decoration: none; } } }

#container {
  background-color: #FFFFFF;
  margin: 0 auto;
  min-height: 800px;
  width: 900px;
  z-index: 1;
  padding: 20px 40px; }

header {
  display: block;
  height: 100px;
  h1 {
    color: #444444;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'EdwardianScriptITCRegular', sans-serif;
    float: left;
    margin: 0; }
  nav {
    float: right;
    ul {
      list-style: none;
      margin: 25px 0px;
      li {
        display: inline-block;
        padding: 0px 5px;
        a {
          border-bottom: 1px solid #CCCCCC;
          border-top: 1px solid #CCCCCC;
          float: left;
          font-weight: bold;
          line-height: 2em;
          text-align: center;
          text-decoration: none;
          width: 7em;
          &:hover, &:active {
            background-color: #00CC00;
            border-top: 1px solid #FFF;
            border-bottom: 1px solid #FFF;
            color: #FFF; } } } } } }

#booking-container {
  background:url("#{$s3}/stamp.png") no-repeat scroll right center transparent; }

div.hover {
  color: #666666;
  display: block;
  text-decoration: none;
  margin: 45px 45px 0px 45px;
  float:left;
  width:200px; }

#luxpic, #botpic, #rawpic { 
  background: url("#{$s3}/hover.jpg") repeat-x scroll 0 0 transparent;
  padding: 180px 0px 0px 0px;
  &:hover {
    a {
      background-color:#FF6600;
      color:#FFFFFF; } }
  a {
    color: #777777;
    text-decoration:none;
    font: 20pt/20pt verdanda;
    height: 25px;
    padding: 10px;
    background-color:#FFFFFF;
    display:block;
    text-transform: uppercase; } }

#luxpic {
  background-position: 0px 0px;
  &:hover {
    background-position: 0px -180px; } }

#botpic {
  background-position: -200px 0px;
  &:hover {
    background-position: -200px -180px; } }

#rawpic {
  background-position: -400px 0px;
  &:hover {
    background-position: -400px -180px; } }
