<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Thank you for making a booking enquiry at The Postmasters Lodgings.
    </p>
    <p>
      John or Dorothy will be in contact shorty to confirm your booking.
    </p>
    <p>
      If you have not heard from us within next 24 hours please call us on +64 (0) 9 405 7676. 
      Sometimes we are otherwise engaged and don't get a chance to check the computer at regular intervals.
    </p>
    <p>
      Here are some things you might like to know about staying with us:
    </p>
    <ul>
      <li>
        There are no individual tv's in rooms because most of our guests are here for 'recharging' purposes, 
        in other words, enjoying the tranquility and simplicity of life. There are two lounges and one has TV/DVD.
      </li>
      <li>
        We have Wifi.
      <li>
        Breakfast and or dinner are not included but are available on request,
        we will confirm this with you when we confirm your booking.
      </li>
    <p>
      Many thanks,
    </p>
    <p>
      John and Dorothy
    </p>
  </body>
</html>
