<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Thank you for making a booking enquiry at The Postmasters Lodgings.
    </p>
    <p>
      John or Dorothy will be in contact with you shorty, please have your credit card details ready as we will 
      will require this to confirm your booking.
    </p>
    <p>
      Please not that if you have confirmed a booking with us but can no longer stay
      we will be happy to cancel the booking. However if you do not contact us or contact us unreasonably late on
      the day of your booking, we will charge the full room rate to your credit card.
    </p>
    <p>
      If you have not heard from us within next 24 hours, please call us on +64 (0) 9 405 7676. 
      Sometimes we are otherwise engaged and don't get a chance to check the computer at regular intervals.
    </p>
    <p>
      Below are some things you might like to know about staying with us:
    </p>
    <ul>
      <li>
        There are no individual TVs in rooms because most of our guests are here for 'recharging' purposes, 
        in other words, enjoying the tranquility and simplicity of life. There are two lounges and one has TV/DVD player.
      </li>
      <li>
        We have Wifi internet access available. 
      <li>
        Breakfast and or dinner are not included in the tariff, but are available on request.
      </li>
      <li>
        If you would like a glass of wine when staying just ask John.
      </li>
    </ul>
    <p>
      Many thanks,
    </p>
    <p>
      John and Dorothy
    </p>
    <p>
      +64 (0) 9 405 7676. 
    </p>
  </body>
</html>
