@import "foundation_and_overrides";

@font-face {
  font-family: 'EdwardianScriptITCRegular';
  src: font-url('itcedscr-webfont.eot');
  src: local("☺"), font-url('itcedscr-webfont.woff') format("woff"), font-url('itcedscr-webfont.ttf') format("truetype"), font-url('itcedscr-webfont.svg#webfont5FK5mWTJ') format("svg");
  font-weight: normal;
  font-style: normal;
}

.row {
  background-color: white;
}

.top-bar {
  .name {
    h1 a {
      color: #444444;
      font-family: 'EdwardianScriptITCRegular', sans-serif;
      font-size: rem-calc(50);
    }
  }
}

@media #{$small-up} {
  .top-bar {
    .name {
      h1 a {
        font-size: rem-calc(30);
      }
    }
  }
}

@media #{$medium-up} {
  .top-bar {
    .name {
      h1 a {
        font-size: rem-calc(40);
      }
    }
  }
}

@media #{$large-up} {
  .top-bar {
    .name {
      h1 a {
        font-size: rem-calc(50);
      }
    }
  }
}

.box {
  display: block;
  margin: 0 auto;
  width: 200px;
  &.text {
    padding: 20px 10px 10px 10px;
  }
  &.pic {
    background: url("http://s3.amazonaws.com/thepostmasterslodgings.co.nz/hover.jpg") repeat-x scroll 0 0 transparent;
    padding: 180px 0px 0px 0px;
    color: #666666;
    text-decoration: none;
    span {
      color: #777777;
      text-decoration: none;
      font: 20pt/20pt verdanda;
      padding: 10px;
      background-color: #FFFFFF;
      display: block;
      text-transform: uppercase;
    }
  }
  &:hover {
    text-decoration: none;
    span {
      background-color: #FF6600;
      color: #FFFFFF;
    }
  }
}

#luxpic {
  background-position: 0px 0px;
  &:hover {
    background-position: 0px -180px;
  }
}

#botpic {
  background-position: -200px 0px;
  &:hover {
    background-position: -200px -180px;
  }
}

#rawpic {
  background-position: -400px 0px;
  &:hover {
    background-position: -400px -180px;
  }
}

.stamp {
  height: 285px;
  width: 300px;
  z-index: 4;
  background: url("http://s3.amazonaws.com/thepostmasterslodgings.co.nz/stamp.png") repeat-x scroll 0 0 transparent; }

#tariffs, #contact {
  z-index: 5;
  p {
    font-size: 0.9rem;
  }
}

#tariffs {
  background: url("http://s3.amazonaws.com/thepostmasterslodgings.co.nz/frameport.png") no-repeat scroll 0 0 transparent;
  height: 300px;
  padding: 65px 50px 50px;
  width: 217px;
}

#contact {
  background: url("http://s3.amazonaws.com/thepostmasterslodgings.co.nz/frameland.png") no-repeat scroll 0 0 transparent;
  color: #000000;
  height: 217px;
  padding: 50px 60px 55px 60px;
  width: 300px;
}
