<div class="row">
  <div class="large-12 columns">
    <article>
      <div class="banner introduction"></div>
      <p>
        Nestled on the point above Rāwene township, with a panoramic view of the Hokianga Harbour from the balcony which runs around the building, the Postmasters Lodgings is a quaint, boutique B&B with a truly unique and unforgettable character. From the sumptuous bedrooms to the eclectic range of furniture and fittings evoking a bygone era, you will never forget the time you spent here. To see how idyllic this accommodation is just check out the <a href="/gallery">gallery</a> and read <a href="https://www.tripadvisor.com.au/Hotel_Review-g1466934-d1465272-Reviews-The_Postmasters_Lodgings-Rawene_Northland_Region_North_Island.html" target="_blank">Trip Advisor reviews</a>. All Queen rooms with ensuite from $120 per night.
      </p>
    </article>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <article>
      <div class="banner historic"></div>
      <p>
        The Postmasters as the name suggests, was the residence of the Postmaster himself in colonial times, giving you a truly historic experience.
      </p>
    </article>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <article>
      <div class="banner rawene"></div>
      <p>
        You will find Rawene and the Hokianga peaceful and untouched by the masses, the destination of choice for those seeking relaxation and natural beauty.
      </p>
      <p>
        Vists St Mary's Church, Clendon House, Omapare, Opononi or Tane Mahuta. All from Rawene.
      </p>
      <p>
        If you require excitement, Rawene happens to sit within striking distance of the popular Northland hotspots.
        <%= link_to "Getting here", "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=The+Postmasters+Boutique+Hotel,+Rawene,+New+Zealand&sll=-35.391919,173.488626&sspn=0.032466,0.104456&ie=UTF8&hq=The+Postmasters+Boutique+Hotel,&hnear=Rawene,+Northland,+New+Zealand&ll=-35.387441,173.488541&spn=0.032468,0.071754&z=14&iwloc=A", { :target => "_blank" } %>
      </p>
    </article>
  </div>
</div>
